#root {
  text-align: center;
  font-family: "Mitr", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mySwiper {
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-wrapper {
  scroll-behavior: smooth;
}

.yarl__container {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.yarl__thumbnails_container {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.yarl__thumbnails_vignette {
  background: rgba(0, 0, 0, 0) !important;
}

.yarl__thumbnails_thumbnail {
  border: 0 !important;
  border-radius: 8px !important;
  background: rgba(0, 0, 0, 0) !important;
  .yarl__slide_image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}
